.wrapper {
    max-width:800px;
    margin:0 auto;

}

.paginator_wrapper {
    display: flex;
    align-items: center;
    justify-content: center
    }

body {
    background-color: #16354D;
    font-family: Roboto;
}

